<h1><%= @wiki.name %></h1>
<% if policy(@collaboration).create? %>
  <p>Add Collaborator by Email</p>
  <%= form_tag wiki_collaborations_path(@wiki) do %>
    <%= text_field_tag :email %>
    <%= submit_tag %>
  <% end %>
<% end %>
<h2>Collaborators:</h2>

<% @wiki.users.each do |user| %>
  <div><%= user.email %></div>
<% end %>